.pink--happy-hues {
  background-color: #fef6e4;
  color: #172c66;
  height: 100vh;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #001858;
  }
  p {
    color: #172c66;
  }
  button {
    background-color: #f582ae;
    color: #001858;
  }
}

.yellow--happy-hues {
  background-color: #fffffe;
  color: #2d334a;
  height: 100vh;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #272343;
  }
  p {
    color: #2d334a;
  }
  button {
    background-color: #ffd803;
    color: #272343;
  }
}

.pink--happy-hues {
  background-color: #232946;
  color: #b8c1ec;
  height: 100vh;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fffffe;
  }
  p {
    color: #b8c1ec;
  }
  button {
    background-color: #eebbc3;
    color: #232946;
  }
}
