@use "../assets/layout/colors";

.home--container {
  background-color: colors.$base-color-3;

  #hanabi-jar-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    h1 {
      color: #9f9f9f;
      font-size: 24px;
      font-weight: 600;
    }
    p {
      font-size: 14px;
    }
  }
  .author-cards--container {
    background-color: black;
    color: white;
    .author-cards {
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem;
      .author__card {
        border-radius: 12px;
      }
    }
  }

  footer {
    background-color: colors.$base-color-4;
    height: 200px;
  }
  // display: flex;
}
